#map-canvas {
    margin: auto;
    border: 2px solid;
    /*border-radius: 25px;*/
}

.map-container{
    margin: 0;
   padding: 10px;
   height: 80%;
}

.page-header{
  text-align:center;
}

.body
{
  width:80%;
}
